#home {
  background: url(./wallhaven-qdj5rl.jpg) no-repeat center;
  background-size: cover;
}

#hero {
  color: white;
  height: 100vh;
  text-align: center;
}

#hero h1 {
  font-size: 72px;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
    0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000;
}

#hero h2 {
  font-size: 30px;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
    0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000;
}

#project{
  background-color: #02141e;
  color: white;
}

#team #image {
  height: 250px;
  border: 3px solid white;
}

#footer {
  background-color: #02141e;
  color: white;
  text-align: center;
}

#footer a {
  color: white;
  text-decoration: none;
}

#assignmentModal img{
  border: 1px solid #000000;
}
